.histogram {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 39px;
}

.histogram__total-orders {
    font-size: 16px;
    color: var(--black);
}

.histogram__total-orders-count {
    font-size: 20px;
    margin-top: 6px;
}

.histogram__view-all {
    font-size: 16px;
    margin-top: 3px;
    color: var(--blue);
}


.histogram__chart {
    display: flex;
    align-items: flex-end;
    height: 50px; 
    gap: 1px;
}

.histogram__bar {
    flex-grow: 1;
    background-color: var(--blue);
}
