.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    text-align: center;
    padding: 28px 36px;
    width: 100%;
    max-width: 374px;
    background-color: var(--white);
}

.calendar__title {
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-1);
}

.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item_day {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-2);
}

.calendar__item_num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var( --blue-1);
}

.calendar__item_highlight {
    background-color: var( --blue-highlight);
}

.calendar__item_highlight-start,
.calendar__item_highlight-end {
    background-color: var(--blue-3);
    color: var(--white);
}
