.footer__title {
    text-align: center;
}

.footer__discription {
    text-align: center;
}

.template__footer {
    background-color: var(--grey-5);
    height: 140px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 92px;
    color: var(--grey-3);
}