@media screen and (min-width: 400px) {
    .background {
        height: 100%;
        width: 100%;
        background-image: url(../../06-lection4/02-background-image/public/forest_400.jpg);
        background-size: cover;
         background-position: center;
    }
}

@media screen and (min-width: 768px) {
    .background {
        height: 100%;
        width: 100%;
        background-image: url(../../06-lection4/02-background-image/public/forest_768.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 1024px) {
    .background {
        height: 100%;
        width: 100%;
        background-image: url(../../06-lection4/02-background-image/public/forest_1024.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 2560px) {
    .background {
        height: 100%;
        width: 100%;
        background-image: url(../../06-lection4/02-background-image/public/forest_2560.jpg);
        background-size: cover;
        background-position: center;
    }
}