.template__menu {
    height: 100%;
    background-color: var(--grey-5);
    padding: 0 0 500px 165px;
}

.menu__header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.menu__nav {
    padding-right: 70px;
}